<div class="wedding">
    <h1 class="cursive">Our Wedding</h1>
    <!-- <div class="wedding-page">
        <img src="/assets/images/floral2.png" alt="floral" class="floral1">
        <h1 class="cursive2">June 22nd, 2018</h1>
        <h3 class="cursive2"> Lord Hills Farms</h3>
        <h3 class="cursive2">Snohomish, WA</h3>
        <h3 class="cursive2">5:30 PM</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
    </div> -->

    <!-- <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div> -->

    <div class="wedding-page">
        <img src="/assets/images/banner.png" alt="floral" class="banner">
        <h1 class="cursive banner-text">The Ceremony</h1>
        <h1 class="cursive2">June 22nd, 2018</h1>
        <h3 class="cursive2"> Lord Hills Farms</h3>
        <h3 class="cursive2">Snohomish, WA</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
        <h3 class="cursive2">5:30 PM</h3>
        <h3 class="cursive2">The Ceremony</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
        <h3 class="cursive2">6:00 PM</h3>
        <h3 class="cursive2">Cocktail Hour</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
        <h3 class="cursive2">7:00 PM</h3>
        <h3 class="cursive2">Dinner</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
        <h3 class="cursive2">8:30 PM</h3>
        <h3 class="cursive2">Reception & Desserts</h3>
    </div>

    <!-- <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>

    <div class="wedding-page">
        <img src="/assets/images/banner.png" alt="floral" class="banner">
        <h1 class="cursive banner-text">The Reception</h1>
        <h1 class="cursive2">June 22nd, 2018</h1>
        <h3 class="cursive2"> Lord Hills Farms</h3>
        <h3 class="cursive2">Snohomish, WA</h3>
        <h3 class="cursive2">5:30 PM</h3>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
    </div> -->
    
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>

    <div class="wedding-page">
        <img src="/assets/images/banner.png" alt="floral" class="banner">
        <h1 class="cursive banner-text">Getting There & Accomodations</h1>
        <iframe
            width="500"
            height="250"
            src="//www.google.com/maps/embed/v1/place?q=Lord+Hill+Farms
            &zoom=8
            &key=AIzaSyAIsuNzAsvlHSjrxxQ3UFPziNeOQm5ieZk
            &q=hotels+in+Seattle">
        </iframe>
        <p class="directions">The venue is in Snohomish and our wedding is on a Friday. Given that our ceremony begins at 5pm, we strongly advise you take at least a <b class="makeblue">half-day off</b> of work that day. Google Maps estimates a <b class="makeblue">little over an hour from Bellevue and a little under 2 hours from Federal Way</b> during high traffic hours. We know it's a little deep, but we promise it will be worth it!</p>
        <p class="directions">If you're planning on dancing the night away and are looking for places to stay the night near the venue, check out the follow resource map for good hotel options -> <a target="_blank" href="https://www.google.com/maps/search/Hotels/@47.9312102,-122.1543266,10z/data=!3m1!4b1!4m8!2m7!3m6!1sHotels!2sLord+Hill+Farms,+12525+Old+Snohomish+Monroe+Rd,+Snohomish,+WA+98290!3s0x549aa87116291691:0x3a601da5860fbb34!4m2!1d-122.0550983!2d47.8841278?hl=en-US">Hotels</a></p>
        <img src="/assets/images/floral3.png" alt="floral" class="floral2">
    </div>


    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>

    <div class="bridesmaids">
        <img src="/assets/images/bridesmaids.png" alt="bridesmaids" class="party-img"><br>

        <img src="/assets/images/sally.jpg" alt="sally" class="party"><br>
        <h4 class="cursive first">Sally Ko, Matron of Honor</h4>
        <p>A couple sentences isn't enough to describe who Sally is. Sally fills so many roles in my life; from being my older sister, my best friend to being my safety net and my second mom, she is the one I share EVERYTHING with - even when I'm determined not to, I end up telling her more than she would ever want to know. Sally is my OG teammate and partner-in-crime, and she is the most loyal ride-or-die who shaped so much of who I am today.</p>
        <img src="/assets/images/hannah.jpg" alt="hannah" class="party"><br>
        <h4 class="cursive">Hannah Kim</h4>
        <p>Hannah and I met in 8th grade, and if you ask her about how we met, she'll tell you all about how mean I was to her when we met (but really, I wasn't!). Thankfully we got past all that, and more than a decade later of vacations, late night shenanigans, vent sessions, lots of tears, and even more laughter, I couldn't imagine life without Hannah's tough love and her fierce, unconditional friendship.</p>
        <img src="/assets/images/melanie.jpg" alt="melanie" class="party"><br>
        <h4 class="cursive">Melanie Dreesman</h4>
        <p>Donovan and I have been friends for years so Mel and I had been running into each other randomly, just saying hi here and there. Then, when Donovan and I officially started dating, I won't lie, I was a little scared. But she has been incredibly welcoming and supportive over the past couple years, and I'm really excited to have Mel at my side, not only on the big day, but also in life!</p>
    </div>

    <div class="groomsmen">
        <img src="/assets/images/groomsmen.png" alt="groomsmen" class="party-img"><br>

        <img src="/assets/images/david.jpg" alt="david" class="party"><br>
        <h4 class="cursive first">David Lee, Best Man</h4>
        <p>There is no better man I would want standing at my right hand side at the alter than David. He encourages me when I am low and corrects me when I am high. David has been a mentor, a shepherd, and a friend who continually challenges me to look to Christ and be the best man that I can be.</p>
        <img src="/assets/images/james.jpg" alt="james" class="party"><br>
        <h4 class="cursive">James Lee</h4>
        <p>James is one my oldest and most faithful friends. We met at church when he moved to Seattle nearly 15 years ago and he has been the most reliable brother a guy could have. We've served on the praise team for nearly a decade, we've been on numerous mission trips, and made countless trips to the Federal Way No Rae Bang.</p>
        <img src="/assets/images/nate.jpg" alt="nate" class="party"><br>
        <h4 class="cursive">Nate Dreesman</h4>
        <p>Growing up, I always wanted an older brother and, as always, God delivered. Nate's selflessness and humility are evident in his work, his actions and in the way he takes care of his parents, my sister and our family.</p>
    </div>
</div>
