<div class="engagement">
    <h1 class="cursive">The Proposal</h1>
    <img src="/assets/images/ringbox.jpeg" alt="ring-box" class="ring-box">
    <br><br>
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>
    <h2 class="cursive2">September 23rd, 2017</h2><br><br>
    <div class="left-column">
        <h3 class="cursive2">1. The Set Up</h3>
        <img src="/assets/images/proposal0.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br><br><br><br>
        <h3 class="cursive2">3. The Question</h3>
        <img src="/assets/images/proposal1.jpeg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br><br><br><br><br>
        <h3 class="cursive2">5. The Party</h3>
        <img src="/assets/images/proposal5.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="middle-column">
        <div class="mid-left">
            <div class="tl1 tl"></div>
            <div class="tl3 tl"></div>
            <div class="tl5 tl"></div>
        </div><div class="mid-right">
            <div class="tl2 tl"></div>
            <div class="tl4 tl"></div>
            <div class="tl6 tl"></div>
        </div>
    </div>
    <div class="right-column">
        <br><br><br><br><br><br><br>
        <h3 class="cursive2">2. The Surprise</h3>
        <img src="/assets/images/proposal2.jpeg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br><br><br><br>
        <h3 class="cursive2">4. The Answer</h3>
        <img src="/assets/images/proposal3.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br><br><br><br>
        <h3 class="cursive2">6. The Vacation</h3>
        <img src="/assets/images/proposal6.jpg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
