<div class="engagement">
    <h1 class="cursive">The Proposal</h1>
    <img src="/assets/images/ringbox.jpeg" alt="ring-box" class="ring-box">
    <br><br>
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>
    <h2 class="cursive2">September 23rd, 2017</h2><br><br>
    <div class="left-column">
        <h3 class="cursive2">1. The Set Up</h3>
        <img src="/assets/images/proposal0.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">Amy and I had a weeklong vacation planned to London, so I decided I would pop the question the weekend before so we could celebrate on the trip. In preparation, I lined the hallway floors and ceiling with some lights and covered the pathway to the backyard with flower petals and candles. I knew Amy wanted her proposal to be an event she could share with her loved ones so I secrectly invited our family and friends over to the house. I made some dinner reservations and the surprise was on!</p>

        <br><br><br>
        <h3 class="cursive2">3. The Question</h3>
        <img src="/assets/images/proposal1.jpeg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">I have never been so nervous in my life! The speech I had prepared in my head completely disppeared and all I could think to say was "I love you." I just dropped to one knee and asked the big question: "Will you marry me?"</p>

        <br><br><br><br>
        <h3 class="cursive2">5. The Party</h3>
        <img src="/assets/images/proposal5.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">We walked back into the house to celebrate our new engagement with our friends and family! We popped some champagne, cut some cake, and received lots and lots of hugs! It was so amazing to spend such an important event with all of our loved ones - thank you all so much!</p>
    </div>
    <div class="middle-column">
        <div class="mid-left">
            <div class="tl1 tl"></div>
            <div class="tl3 tl"></div>
            <div class="tl5 tl"></div>
        </div><div class="mid-right">
            <div class="tl2 tl"></div>
            <div class="tl4 tl"></div>
            <div class="tl6 tl"></div>
        </div>
    </div>
    <div class="right-column">
        <br><br><br><br><br><br><br>
        <h3 class="cursive2">2. The Surprise</h3>
        <img src="/assets/images/proposal2.jpeg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">We got to the house and I told Amy that I had a surprise waiting for her inside so she should wait 15 seconds and follow me in. Naturally, she asked me I had gotten her a puppt. It's tough to beat those expectations but hopefully, a proposal would make a close second. Amy walked into the house to find the hallway lined with lights and a path of flower petals and candles. As she turned the corner, she was greeted by all of the friends and family I had invited. She made her way to the backyard where I was waiting for her.</p>

        <br><br><br>
        <h3 class="cursive2">4. The Answer</h3>
        <img src="/assets/images/proposal3.jpeg" alt="proposal1" class="proposal-pic pic0">
        <p class="proposal-text">She said... yes!</p>

        <br><br><br><br><br>
        <h3 class="cursive2">6. The Vacation</h3>
        <img src="/assets/images/proposal6.jpg" alt="proposal1" class="proposal-pic pic1">
        <p class="proposal-text">A few days later, we were off to London! Check us out riding the London Eye with Big Ben behind us!</p>
    </div>
</div>
