<div class="container">
    <div class="header">
        <div class="title">
            <h1 class="main-title"><span>♥</span> DAAB 2018 <span>♥</span></h1>
        </div>
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['story']">Our Story</a>
        <a [routerLink]="['engagement']">Engagement</a>
        <a [routerLink]="['wedding']">The Wedding</a>
        <a [routerLink]="['registry']">Gift Registry</a>
        <!-- <a [routerLink]="['rsvp']">RSVP</a> -->
    </div>
    <router-outlet></router-outlet>
</div>
