<div class="story">
    <h1 class="cursive">About Us</h1>
    <div class="about-us">

        <p>Amy and I met for the first time in 2007 on Valentine's Day when we were sophomores at Newport High School. Our friends decided we would go see the Seattle SuperSonics (rest in peace) play at KeyArena as they were holding a Valentine's Day special on tickets. A few parents shuttled us over, and we sat next to each other on the way there - Amy fell asleep on my shoulder and that's how it all started. We watched the game, and afterward, we drove home. Well, to be factual, my mom drove us home, but hey, we were 15 and I hadn't gotten my Learner's Permit yet! And as it turned out, Amy's family only lived a few minutes away from us so my mom, the ultimate wingman that she is, said we would drive her home. On the first day we met, we found ourselves, on Valentine's Day, 15 years old, in the backseat of my mom's car. I know - romantic, right?</p><br>    
        <p>We remained friends throughout high school, but we'll fast-forward a few years to when we were both studying at the University of Washington. Amy and I grew much closer as friends through college, going to Mariner's games, the Bite of Seattle, and even a trip to NYC with our friend, Hannah (another great wingman). It was a short while until I began falling for Amy, but I was at a loss for what to do. How do you tell your best friend that you love her? So naturally, I set up camp in the friend zone. For over <i>2 years</i>, I secretly pined after Amy while taking up the office as Mayor of the friend zone. But brothers, witness: it is not forever. In the Fall of 2015, Amy confided that she had feelings for me too, and we were officially dating by Winter.</p><br>
        <p>Since then, Amy and I have been paving the way for our wedding day. We are so thankful to our family and friends who have supported us and loved us through the years. We are forever grateful and can't wait to celebrate our big day with you all. Most of all, we thank God for bringing us together in his sovereignty and fostering our relationship into what it is today. We can love and forgive because he first loved and forgave. Praise be to Him!</p><br>
        <p><i>He is before all things, and in him all things hold together - <b>Colossians 1:17</b></i></p>
    </div>
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div>
    <div class="about-amy">
        <h1 class="cursive">From Amy</h1>
        <img src="/assets/images/baby_amy.jpg" alt="baby-pic" class="baby-pic" data-alt-src="/assets/images/amy.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatem vero laudantium voluptas corrupti pariatur itaque optio sit dolorum, ex consequatur mollitia ab nisi rem praesentium consectetur minima asperiores quos?</p>
        <a href="" data-toggle="modal" data-target="#exampleModalLong">Read More..</a>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog centerme" role="document">
                <div class="modal-content mymodal">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, in facere. Aliquam deleniti recusandae incidunt
                            officiis odit, non nulla? Culpa tenetur corporis sapiente nulla voluptatem vitae maxime perferendis nemo
                            reprehenderit!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, in facere. Aliquam deleniti recusandae incidunt
                            officiis odit, non nulla? Culpa tenetur corporis sapiente nulla voluptatem vitae maxime perferendis nemo
                            reprehenderit!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-danger closebtn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-dono">
        <h1 class="cursive">From Donovan</h1>
        <img src="/assets/images/baby_amy.jpg" alt="baby-pic" class="baby-pic" data-alt-src="/assets/images/profile.jpg"><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quas officia et possimus quia beatae voluptatibus incidunt! Laudantium fugit mollitia dicta architecto. Quas, assumenda voluptatem quidem amet eum error autem.</p>
        <a href="" data-toggle="modal" data-target="#exampleModalLong2">Read More..</a>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog centerme" role="document">
                <div class="modal-content mymodal">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, in facere. Aliquam deleniti recusandae incidunt officiis odit,
                            non nulla? Culpa tenetur corporis sapiente nulla voluptatem vitae maxime perferendis nemo reprehenderit!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, in facere. Aliquam deleniti recusandae incidunt officiis odit,
                            non nulla? Culpa tenetur corporis sapiente nulla voluptatem vitae maxime perferendis nemo reprehenderit!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-danger closebtn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>