<div class="home">
    <img src="/assets/images/std.jpg" alt="main" class="splash-photo"><br><br><br>
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div><br><br>
    <h1 class="cursive">Donovan An & Amy Byun</h1>
    <h3 class="cursive">June 22nd, 2017</h3>
    <h3 class="cursive">Lord Hills Farm, Snohomish WA</h3>
    <br><br><br><br><br>

    <h1 class="cursive">Guestbook</h1>
    <div class="break">
        <div class="line"></div>
        <p>♥</p>
        <div class="line"></div>
    </div><br>

    <div class="fb-comments" data-href="https://www.facebook.com/donovan.an" data-width="500" data-numposts="5"></div>
</div>
