.home{
    width: 100%;
    /*height: 800px;*/
    margin-top: 20px;
    /*border: 1px solid red;*/
    text-align: center;
    padding: 20px 0px;
}

.splash-photo{
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border: 4px solid gray;*/
    /*border-radius: 5px;*/
    /*box-shadow: 2px 2px 2px rgb(85, 85, 85);*/
}

.home h1, .home h3{
    font-family: 'Amatic SC', cursive;
}

.break{
    /*height: 40px;*/
    width: 100%;
    /*background-color: yellow;*/
    /*margin: 40px 0px;*/
}

.line{
    height: 4px;
    width: 200px;
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.break p{
    display: inline-block;
    margin: 0px 10px;
}
